<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i>0338263947</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>LinhLayStudio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="https://www.facebook.com/linhlay2802/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle" style="background:rgb(76 162 150)">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="assets/images/home/logoL.png" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                        <ul class="dropdown-menu">
                            <li><a href="#">Canadian Dollar</a></li>
                            <li><a href="#">Pound</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav" style="background:rgb(76 162 150);">

                            <li><a href="http://localhost:4200" style="font-size:18px;background:rgb(76 162 150)"><i class="fa fa-star"></i> Products</a></li>
                            <li><a [routerLink]="['/contactus']" routerLinkActive="router-link-active" style="font-size:18px;background:rgb(76 162 150)"><i class="fa fa-crosshairs"></i> Contact Us</a></li>
                            <li><a [routerLink]="['/cart']" routerLinkActive="router-link-active" style="font-size:18px;background:rgb(76 162 150)"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" style="font-size:18px;background:rgb(76 162 150)"><i class="fa fa-lock"></i> Login</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->


    <!--/header-bottom-->
</header>
<!--/header-->

<section id="slider"style= "margin-bottom: 50px;">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>L-</span>Studio</h1>
                                <h2>Làm việc lâu hơn, sạc nhanh hơn</h2>
                                <p>Chuyên gia hiệu năng, siêu nhẹ hàng đầu
                                    Laptop doanh nhân 14” pin đến 24 tiếng, nhẹ nhất thế giới </p>
                                <button type="button" class="btn btn-default get">Mua Ngay</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/home/laptop3.png" class="girl img-responsive" alt="" />

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>L-</span>Studio</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Nhẹ hơn, cứng hơn và di động hơn </p>
                                <button type="button" class="btn btn-default get">Mua Ngay</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/home/laptop3.png" class="girl img-responsive" alt="" />

                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>L</span>-Studio</h1>
                                <h2>Khả năng kết nối toàn diện mà không phải đánh đổi</h2>
                                <p>ExpertBook B9 sẽ không bao giờ làm bạn thất vọng trong suốt cả ngày làm việc hay một chuyến bay dài</p>
                                <button type="button" class="btn btn-default get">Mua Ngay</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/home/slidde1.png" class="girl img-responsive" alt="" />

                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>